@page

<h1>Katie Oliveras</h1>
<p>The time on the server is @DateTime.Now</p>
<p>Testing \[x^2 + y^2 = 1\]</p>
<img style="margin:auto; width:30%;" src="http://textfiles.com/underconstruction/HoHollywood3335construction.gif"/>